.crypto_card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.crypto_image {
  width: 40px;
  margin-right: 20px;
}
.crypto_card {
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);  /* background-color: var(--jr_black); */
  padding: 10px;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.crypto_card > a {
  align-items: center;
  display: flex;
}
.crypto_desc > p {
  font-size: 0.1em;
  color: var(--jr_pp);
}
.crypto_price {
  font-size: 22px;
  font-weight: 600;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.crypto_name {
  font-weight: 600;
}

.search_crypto {
  margin: 20px 0;
  max-width: 200px;
  margin: 0 auto;
}

.search_crypto > input {
  background-color: var(--jr_black);
  padding: 10px;
  width: 100%;
  border: 2px solid rgb(37, 167, 167);
  border-radius: 50px;
  color: white;
  transition: all 0.2s;
  margin: 20px 0;
}

.search_crypto > input:focus {
  outline: none;
  border: 2px solid rgb(37, 167, 167);
  box-shadow: rgba(22, 157, 211, 0.5) 0px 5px 10px -3px, rgba(13, 132, 148, 0.05) 0px 4px 6px -2px;
}
