@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --jr_black: #191B2A;
  --jr_black_fade: rgb(33, 32, 37);
  --jr_pp: #ca50f7;
  --jr_yl: #f5d64c;
  --jr_red: #f76656;
  
}
html {
  background: #111111;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}
body {
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.app{
  min-height: 100vh;
}

a {
  color: white;
  text-decoration: none;
}
.main {
  transition: 0.5s;
  padding: 16px;
  max-width: 1200px;
  /* margin: 0 auto; */
  margin-left: 250px;

}

.hamberger{
  /* position: absolute; */
  left: 20px;
  display: none;
  
}

.nav_but_close{
  display: none;
}
@media only screen and (max-width: 768px) {
  .main{
    margin-left: 0px;
  }
  .hamberger{
    display: block;
  }
  .nav_but_close{
    display: block;
  }
}
.loader{
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
